body {
  background-image: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: tomato;
}

nav {
  margin: 25px;
}

nav a {
  text-decoration: none;
  color: tomato;
  padding: 20px;
}

.body {
  align-content: center;
  text-align: center;
  margin: 10px;
}

.body h1 {
  text-decoration: underline;
  color: darkred;
  text-shadow: 1px 1px rgba(31, 25, 23, 0.7);
}

img {
  height: 300px;
  width: 300px;
}

.choresList img {
  width: 200px;
  height: 200px;
}
